.env
node_modules/
/dist/
/internal/web/dist/*
!/internal/web/dist/index.html
*.test
/frontend/.nuxt/
/frontend/.output/
/frontend/test-results/
/frontend/playwright-report/
/data/
/logs/
/strm/
/tmp/
.vscode/
.DS_Store
